Options +FollowSymLinks
RewriteEngine On


# RewriteRule ^albums/added-by/([^/]+)/?$ albums.php?added-by=$1 [L]
# RewriteRule ^albums/order-by/([^/]+)/?$ albums.php?order-by=$1 [L]

# RewriteRule ^artists/([^/]+)/?$ albums.php?artist=$1 [L]
# RewriteRule ^artists/order-by/([^/]+)/?$ artists.php?order-by=$1 [L]
# RewriteRule ^artists/([^/]+)/([^/]+)/?$ tracks.php?album-artist=$1&album=$2 [L]

RewriteRule ^users/([^/]+)/?$ users.php?name=$1 [L]

# RewriteRule ^st/([^/]+)/?$ stats.php?name=$1 [L]
# RewriteRule ^st/$ stats.php [L]

# re-write url to go to php page by default (last rule)
RewriteRule ^([^/\.]+)/?$ $1.php [L]

# remove www from URL
# RewriteCond %{HTTP_HOST} !^okaynokay\.com$ [NC]
# RewriteRule ^(.*)$ http://okaynokay.com/$1 [R=301,L]
